#include <windows.h>
#include "resource.h"

IDD_PARAMS DIALOGEX 0, 0, 220, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Parameters"
FONT 9, "MS Shell Dlg"
BEGIN
    EDITTEXT IDC_PARAMS_EDIT, 7, 7, 206, 55, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL
    DEFPUSHBUTTON "OK", IDOK, 45, 70, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 120, 70, 50, 14
END
